
<BOUCLE_rubs(RUBRIQUES){id_rubrique}{par num titre}>
<div class="la_scene[ (#TOTAL_BOUCLE|=={1}|oui)solitaire]">
	<h2 class="#EDIT{titre} titre">[(#TITRE|supprimer_numero)]</h2>

	<div class="lien">
		<a href="[(#URL_RUBRIQUE)]" title="[(#TITRE|supprimer_numero|attribut_html)]">
		<BOUCLE_docs(DOCUMENTS){id_rubrique}{extension IN jpg,png,gif}{titre!='!credit'}>
			<div class="carte">[(#FICHIER|image_reduire{200})]</div>
		</BOUCLE_docs>				
		<div class="action">Visiter !</div>
		</a>
	</div>
</div>
</BOUCLE_rubs>
