[<script type="text/javascript" src="(#CHEMIN{javascript/jquery.imgareaselect.js})"></script>]
[<script type="text/javascript" src="(#CHEMIN{javascript/jquery.maphilight.js})"></script>]
[<link rel="stylesheet" type="text/css" href="(#CHEMIN{css/imgareaselect-default.css})" />]

<BOUCLE_document(DOCUMENTS) {id_document}{tout}>
<div class="modele_img_carte">
<div class="image_map">
[(#FICHIER|image_reduire{1024,768}|inserer_attribut{usemap,#[AP(#URL_DOCUMENT|md5)]})]
</div>
<map name="AP[(#URL_DOCUMENT|md5)]" id="AP[(#URL_DOCUMENT|md5)]">
#SET{articles,#ARRAY{0,0}}
[(#ENV{lien1}|oui)[(#SET{articles,#GET{articles}|push{#ENV{lien1}}})]]
[(#ENV{lien2}|oui)[(#SET{articles,#GET{articles}|push{#ENV{lien2}}})]]
[(#ENV{lien3}|oui)[(#SET{articles,#GET{articles}|push{#ENV{lien3}}})]]
[(#ENV{lien4}|oui)[(#SET{articles,#GET{articles}|push{#ENV{lien4}}})]]
[(#ENV{lien5}|oui)[(#SET{articles,#GET{articles}|push{#ENV{lien5}}})]]
[(#ENV{lien6}|oui)[(#SET{articles,#GET{articles}|push{#ENV{lien6}}})]]
[(#ENV{lien7}|oui)[(#SET{articles,#GET{articles}|push{#ENV{lien7}}})]]
[(#ENV{lien8}|oui)[(#SET{articles,#GET{articles}|push{#ENV{lien8}}})]]
[(#ENV{lien9}|oui)[(#SET{articles,#GET{articles}|push{#ENV{lien9}}})]]
[(#ENV{lien10}|oui)[(#SET{articles,#GET{articles}|push{#ENV{lien10}}})]]
[(#ENV{lien11}|oui)[(#SET{articles,#GET{articles}|push{#ENV{lien11}}})]]
[(#ENV{lien12}|oui)[(#SET{articles,#GET{articles}|push{#ENV{lien12}}})]]
<BOUCLE_articles(ARTICLES){id_article IN #GET{articles}}>
<area shape="#ENV{type#COMPTEUR_BOUCLE}" coords="#ENV{coord#COMPTEUR_BOUCLE}" onMouseOver="voirPartie(#COMPTEUR_BOUCLE)" onMouseOut="cacherPartie(#COMPTEUR_BOUCLE)" [ alt="(#TITRE|texte_backend)"][ title="(#TITRE|texte_backend)"] />
</BOUCLE_articles>
</map>
<BOUCLE_articles2(ARTICLES){id_article IN #GET{articles}}>
<div class="partie_de_carte partie_#ENV{infos#COMPTEUR_BOUCLE}" id="partie_de_carte#COMPTEUR_BOUCLE">
<div class="#EDIT{logo} gros_plan"><img src="[(#LOGO_ARTICLE||image_masque{images/masque_loupe.png}
|image_reduire{150}
|image_recadre{150,135,top left,transparent}
|image_masque{[(#CHEMIN{images/big_loupe.png}
	|image_reduire{250}
	|image_recadre{150,135,top right,transparent}
	|extraire_attribut{src})],mode=normal}
|extraire_attribut{src})]" /></div>
	[<div class="#EDIT{titre} titre"><h1>(#TITRE)</h1></div>]
	[<div class="#EDIT{soustitre} soustitre">(#SOUSTITRE)</div>]
	[<div class="#EDIT{texte} texte">(#TEXTE|image_reduire{320})</div>]
	<BOUCLE_son(DOCUMENTS){id_article}{extension=mp3}{0,1}{!par date}{titre!==^Texte}>
	[<div class="son"><a href="(#FICHIER)">Ecouter</a></div>]
	</BOUCLE_son>
	<BOUCLE_son_texte(DOCUMENTS){id_article}{extension=mp3}{0,1}{!par date}{titre==^Texte}>
	[<div class="son_texte"><a href="(#FICHIER)">Ecouter</a></div>]
	</BOUCLE_son_texte>
</div>
</BOUCLE_articles2>
</div><!-- .modele_img_carte -->
</BOUCLE_document>
